* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/img/main-pizza.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}